html{
    background-color: tomato;
    padding: 10px;
}
body{
    background-color: papayawhip;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    position: relative;
    height: 200vh;
}
header{
    background-color: navy;
    margin: 10px;
    

}
nav{
    background-color: aqua;
    margin: 10px;
    /* position: relative; */
    /* left: 20px; */
    top: 10px;
    /* position:fixed; */
    position: absolute;

}
footer{
    background-color: blueviolet;
    margin: 10px;
}